body {
    background-color: #1C1C1C;
    font-family: 'Open Sans', sans-serif;
}

.conteudo {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container {
    align-items: center;
    background-color: #ffaf19;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 550px;
}

.title {
    font-size: 1.25rem;
    border-bottom: 1px solid #000000;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 75%;
}
.input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.input input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

.input label {
    font-size: 1.25em;
    font-weight: 600;
    padding: 10px;
    
}

.btn {
    background-color: #940a00;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    transition: .20s;
    margin-top: 10px;
}

.btn:hover {
    background-color: #4b0601;
    font-size: 1.2em;
    transition: .20s;
}

.result {
    background-color: #ffffff;
    border-radius: 5px;
    width: 300px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

